.container {
  padding: 0 0;
  background-color:rgb(162, 218, 255);
  display: grid;
  grid-template-areas: 'sidebar content'
                       'player player';
  grid-template-columns: 20% 80%;
  min-height: 100vh;
}

/* -------------------CONTENT -------------------- */
.content {
  grid-area: content;
  display: grid;
  grid-template-rows: 40% 60%;
  grid-template-areas: 'last_tracks'
  'playlists'
  ;
  gap: 5px;
  color:white;
  background-color: var(--main-bg-color);
  min-height: 90vh;
}

.last_tracks {
  display: grid;
  grid-area: last_tracks;
  padding: 10px;
  grid-template-rows: repeat(3, 10vh);
  grid-auto-rows: 0;
  grid-template-areas: 'title title title'
  'track_card track_card track_card';
  gap: 5px;
  /* background-color: darkgreen; */
  overflow-x: hidden;
  column-gap: 0;
}
.title{
  display: grid;
  padding-left: 20px;
  grid-area: title;
  align-content: space-around;
  max-height: 5vh ;
}

.track_card {
  margin: 0px 3px 0 3px;
   /* padding: 3px; */
  border-radius: 5px;
  display: grid;
  background-color: var(--second-bg-color);
  overflow: hidden;
  grid-template-columns: 100px auto 50px;
  /* max-height: 100px;  */
}
.track_card_img{
  width: 100px;
  height: 100px;
}
.playlists {
  display: grid;
  grid-area: playlists;
  grid-template-rows: 3vh 22vh 22vh;
  grid-template-areas: 'title title title title title title'
  'playlist_card playlist_card playlist_card playlist_card playlist_card playlist_card';
  gap: 10px;
  padding: 10px;
  /* background-color: chartreuse; */
  overflow-x: hidden;
  grid-auto-rows: 0;
}
.playlist_card {
  margin: 0px 3px 0 3px;
  display: grid;
  border-radius: 5px ;
  background-color: var(--second-bg-color);
  overflow: hidden;
}
/* -------------------PLAYER -------------------- */
.player{
  display: grid;
  grid-template-columns: 25vw 50vw 25vw;
  grid-template-areas: 'prewiev play_module functions';
  grid-area: player;
  color:white;
  background-color: var( --second-bg-color);
}
.prewiev{
  /* background-color: rgb(246, 241, 241); */
  display: grid;
  grid-template-columns: 10vh auto;
  grid-template-areas: 'img info'
  'img info';
}
.img{
  display: grid;
  grid-area: img;
  /* width: 80px;
  height: 80px; */
}
.info{
  display: grid;
  padding-left: 10px;
  align-items: center;
 
}
.functions{
  display: grid;
  grid-template-columns: 20% 80%;
  align-items: center;
  justify-content: space-around;
}
.play_module{
  display: grid;
  grid-template-rows: 60% 40%;
  max-height: 8vh;
  grid-template-areas: 'play_buttons'
                      'slider';
  justify-content: center;
  /* background-color: blueviolet; */
}

.module_btns{
  display: grid;
  grid-template-areas: 'skip_back pause skip_next';
  grid-template-columns: 14vw 2vw 14vw;
  justify-content: center;
  justify-items: center;
  align-items: center;
}
.skip_back{
  color: white;
  font-size: 40px;
}
.pause{
  font-size: 50px;
  color: white;
}
.func_btn{
  font-size: 30px;
  color: white;
}
.smart_pause{
  display: none;
}
.skip_next{
  font-size: 40px;
  color: white;
}

.slider{
  display: grid;
  grid-template-columns: 5vw 40vw 5vw;
  align-items: center;
  margin-bottom: 5px;
  max-height: 2vh;
}
/* .functions{
  background-color: yellow;
} */
.l_time{
  display: flex;
  margin-right: 10px;
  justify-content: flex-end;
}
.r_time{
  display: flex;
  margin-left: 15px;
  justify-content: flex-start;
}

/* -------------------SIDEBAR -------------------- */
.sidebar {
  display: flex;
  grid-area: sidebar;
  background-color: var(--sidebar-bg-color);
  color: white;
  flex-direction: column;
  min-height: 90vh;
}
.name {
  display: grid;
  grid-area: name;
  align-items: center;
  justify-items: center;
  /* background-color: yellow; */
  max-height: 10vh;
}
.buttons{
  display: grid;
  grid-auto-flow: row;
  align-content: space-around;
  grid-area: buttons;
  /* background-color: orange; */
  min-height:min-content;
  padding: 5px;
  grid-template-areas: 'icon description';
    grid-template-columns: 10% 90%;
}
.icon{
  padding-top: 10px;
}
.description{
  display: grid;
  padding: 10px;
  justify-content: start;
  font-size: 18px;
}
/* ----------------------------------------------- */
@media (max-width: 1300px) {
  .playlists {
    grid-template-areas: 'title title title title title'
    'playlist_card playlist_card playlist_card playlist_card playlist_card';
    overflow: hidden;
  }
  .back{
    align-content: end;
  }
  .prewiev{
    grid-template-columns: 100px auto;
  }
  .img{
    /* width: 100px;
    height: 100px; */
  }
}
@media (max-width: 1000px) {
  .playlists {
    grid-template-areas: 'title title title title '
    'playlist_card playlist_card playlist_card playlist_card ';
    overflow: hidden;
  }
  
  .back{
    justify-content: end;
    justify-items: end;
  }
}
@media (max-width: 750px) {
  .container {
    grid-template-areas: 'content content'
                         'player player'
                         'sidebar sidebar';
    min-height: 100vh;
    font-size: 12px;
  }
  .player{
    /* max-height: 5vh; */
    grid-template-columns: 40vw 60vw;
    min-height: 3vh;
  }
  .play_module{
    grid-template-rows: 100%;
    grid-template-columns: 70% 30%;
    min-height: auto;
    grid-template-areas: ' slider smart_pause';
    align-items: center;
    justify-content: center;
    /* background-color: blueviolet; */
  
  }
  .module_btns{
    display: none;
  }
  .smart_pause{
    display: grid;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: white;
  }
  .prewiev{
    grid-template-columns: 50px auto;
  }
  .r_time{
    display: none;
  }
  .l_time{
    display: none;
  }
  .img{
    /* width: 50px;
    height: 50px; */
  }
  .module_btns{
    max-height: 2vh;
  }
  .skip_back{
    color: white;
    font-size: 20px;
  }
  .pause{
    font-size: 30px;
    color: white;
  }
  .skip_next{
    font-size: 20px;
    color: white;
  }
  .functions{
    display: none;
  }
  .sidebar {
    min-height: 3vh;
  }
  .name{
    display: none;
  }
  .icon{
    padding-top: 0px;
  }
  .description{
    display: none;
  }
  .buttons{
    grid-auto-flow: row;
    grid-template-columns: 10% 10% 10%;
    justify-content: space-around;
    align-content: center;
    justify-items: center;
  }
  .last_tracks {
    overflow: hidden;
    grid-template-areas: 'title title'
    'track_card track_card';
  }
  .last_tracks{
    overflow: hidden;
  }
  .track_card {
    max-height: 80px;
    grid-template-columns: 70px auto 30px;
    overflow: hidden;
  }
  .track_card_img{
    width: 80px;
    height: 80px;
  }
  .playlists {
    grid-template-areas: 'title title title'
    'playlist_card playlist_card playlist_card';
    overflow: hidden;
  }
}

